{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block ExtraCss %}
{% endblock ExtraCss %}

{% block content %}

<section class="card shadow-sm my-5 m-auto" style="max-width: 700px;">
  <div class="p-3">
      <form action="." method="post">
        {% csrf_token %}

        <h3>Change Password</h3>

        {{form|crispy}}

        <div style="text-align: end;">
          <button id="change" class="btn btn-primary" type="submit">Update</button>
        </div>
      </form>
  </div>
</section>

{% endblock content %}



{% block ExtraJs %}
{% endblock ExtraJs %}