{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block ExtraCss %}
<style>
  body {
    background-color: #fbc323;
  }
</style>
{% endblock ExtraCss %}

{% block content %}

<div class="center-wrapper">
  <div class="card shadow-sm w-100 m-auto" style="max-width: 700px; border-radius: 25px;">
    <form method="POST">
      {% csrf_token %}
      <legend class="border-bottom p-3">Log In!</legend>
      <div class="form-group px-3">
        {{ form|crispy }}
        <button class="btn btn-danger rounded-pill my-2" type="submit">Log In</button>
      </div>
      <div class="border-top p-3">
        <small class="text-muted">
          Need an account ? <a class="ml-2" href="{% url 'authentication:RegisterView' %}">Sign Up Now</a>
        </small>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
