{% load static %}

<section>
  <div class="footer py-5">
    <ul class="me-auto">
      <h5>NEED HELP?</h5>
      <div class="set set-border">
        <li>Call Us</li>
        <li class="bold">
          <a href="tel:0000000000" target="_blank" class="a_no_style">
            0000000000
          </a>
        </li>
      </div>

      <div class="set set-border">
        <li>Email for Us</li>
        <li class="bold">
          <a href="mailto:someone@email.com" target="_blank" class="a_no_style">
            someone@email.com
          </a>
        </li>
      </div>

      <div class="set set-border">
        <li>Follow Us</li>
        <li class="bold">
          <a href="https://www.facebook.com/Christian-Polytechnic-Institute-of-Catanduanes-272035306147141" target="_blank" class="a_no_style me-2" rel="noreferrer">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>
      </div>
    </ul>
  </div>
</section>
